<% if @student.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this mstudent from being saved:</h2>

      <ul>
        <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<%= form_for @student do |f| %>
  <%= f.label 'First name' %>
  <%= f.text_field :first_name %>
  <br/>
  <%= f.label 'Last name' %>
  <%= f.text_field :last_name %>
  <br/>
  <%= f.label 'Email' %>
  <%= f.text_field :email %>
  <br/>
  <br/>
  <%= f.submit %>

<% end %>
